:root {
  --cor-fundo: #f58c8c;
  --cor-principal: #960a0a ;
  --cor-secundaria: #630606;
  --cor-destaque: #cc8c8c;
  --cor-texto: #ffffff;
}
body{
 background-color: var(--cor-fundo);
 color: var(--cor-texto);
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
}
.caixa-principal{
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}
h1{
 color: var(--cor-destaque);
}